name: test-run

on: [push, pull_request]

jobs:
  build:
    if: ( github.event_name == 'push' ||
        github.event.pull_request.head.repo.full_name != github.repository ) &&
        ( github.repository == 'tarantool/topology' )

    runs-on: ubuntu-latest

    env:
      ETCD_PATH: /home/runner/.local/bin/

    strategy:
      fail-fast: false
      matrix:
        tarantool-version: ['1.10', 2.6, 2.7]
        etcd-version: [v3.4.15]

    steps:
    - uses: actions/checkout@v2

    - name: update git submodules
      run: git submodule update --init

    - uses: tarantool/setup-tarantool@v1
      with:
        tarantool-version: ${{ matrix.tarantool-version }}

    # Setup etcd
    - name: Setup etcd ${{ matrix.etcd-version }}
      uses: ./.github/actions/setup-etcd
      if: runner.os == 'Linux'
      with:
        etcd-version: ${{ matrix.etcd-version }}
        install-prefix: /home/runner/.local/bin/

    - name: setup ldoc
      run: tarantoolctl rocks install ldoc --server=https://tarantool.github.io/LDoc/

    - name: setup luacheck
      run: tarantoolctl rocks install luacheck

    - name: setup luatest
      run: |
        tarantoolctl rocks install luatest

    - name: setup lua-quickcheck
      run: |
        # lua-quickcheck is not available for 5.1, so we need luarocks
        sudo apt install -y luarocks
        luarocks --local install --server=https://luarocks.org/dev luaffi
        luarocks --local install lua-quickcheck

    - name: setup luacov
      run: tarantoolctl rocks install luacov

    - name: setup conf
      run: tarantoolctl rocks install conf

    - name: update path env variable
      run: echo "$(pwd)/.rocks/bin" >> $GITHUB_PATH

    - name: run static analysis
      run: make check

    - name: run regression tests
      run: make coverage
