name: test-run

on: [push, pull_request]

jobs:
  build:
    if: ( github.event_name == 'push' ||
        github.event.pull_request.head.repo.full_name != github.repository ) &&
        ( github.repository == 'ligurio/topology' )

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        tarantool-version: ['1.10', 2.6, 2.7]
        etcd-version: [3.4.15]

    steps:
    - uses: actions/checkout@v2

    - name: update git submodules
      run: git submodule update --init

    - uses: tarantool/setup-tarantool@v1
      with:
        tarantool-version: '${{ matrix.tarantool-version }}'

    - name: setup etcd '${{ matrix.etcd-version }}'
      run: |
        ./tools/setup_etcd.sh '${{ matrix.etcd-version }}'

    - name: setup ldoc
      run: tarantoolctl rocks install ldoc --server=https://tarantool.github.io/LDoc/

    - name: setup luacheck
      run: tarantoolctl rocks install luacheck

    - name: setup luatest
      run: tarantoolctl rocks install luatest

    - name: update path env variable
      run: echo "$(pwd)/.rocks/bin" >> $GITHUB_PATH

    - name: run static analysis
      run: make check

    - name: run regression tests
      run: make test
